src/main/java/com/ValidateIban.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://soap/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="ValidateIbanService" targetNamespace="http://soap/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://soap/" elementFormDefault="unqualified" targetNamespace="http://soap/" version="1.0">

  <xs:element name="ValidateIban" type="tns:ValidateIban"/>

  <xs:element name="ValidateIbanResponse" type="tns:ValidateIbanResponse"/>

  <xs:element name="validate" type="tns:validate"/>

  <xs:element name="validateList" type="tns:validateList"/>

  <xs:element name="validateListResponse" type="tns:validateListResponse"/>

  <xs:element name="validateResponse" type="tns:validateResponse"/>

  <xs:complexType name="validateList">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="validateListResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="validate">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="validateResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ValidateIban">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="ValidateIbanResponse">
    <xs:sequence/>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="validateList">
    <wsdl:part element="tns:validateList" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ValidateIbanResponse">
    <wsdl:part element="tns:ValidateIbanResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="validateListResponse">
    <wsdl:part element="tns:validateListResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="validate">
    <wsdl:part element="tns:validate" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="validateResponse">
    <wsdl:part element="tns:validateResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ValidateIban">
    <wsdl:part element="tns:ValidateIban" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ValidateIban">
    <wsdl:operation name="validateList">
      <wsdl:input message="tns:validateList" name="validateList">
    </wsdl:input>
      <wsdl:output message="tns:validateListResponse" name="validateListResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validate">
      <wsdl:input message="tns:validate" name="validate">
    </wsdl:input>
      <wsdl:output message="tns:validateResponse" name="validateResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateIban">
      <wsdl:input message="tns:ValidateIban" name="ValidateIban">
    </wsdl:input>
      <wsdl:output message="tns:ValidateIbanResponse" name="ValidateIbanResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ValidateIbanServiceSoapBinding" type="tns:ValidateIban">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="validateList">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="validateList">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="validateListResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validate">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="validate">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="validateResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateIban">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="ValidateIban">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="ValidateIbanResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ValidateIbanService">
    <wsdl:port binding="tns:ValidateIbanServiceSoapBinding" name="ValidateIbanPort">
      <soap:address location="http://localhost:8080/ibanValidation/ValidateIban"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>